.whole {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 0px transparentize($color: black, $amount: 0.98);
  border: 2px solid transparent;
  &.active {
    border-color: #9DD3FF;
  }
  .header {
    padding: 24px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: white;
    border-radius: inherit;
    cursor: pointer;
    .id {
      margin-right: 8px;
      &:after {
        content: ':';
      }
    }
    .time {
      margin-right: 8px;
      color: #BBBBBB;
    }
    .state {
      margin-right: 8px;
      flex: 1;
      text-align: right;
      color: #9DD3FF;
    }
  }
  .content {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    .item {
      padding: 4px 8px;
      position: relative;
      word-break: break-all;
      cursor: pointer;
      border-radius: 8px;
      &:hover {
        background-color: transparentize(#69BBFF, 0.8);
      }
      &:active {
        background-color: transparentize(#69BBFF, 0.4);
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        z-index: -1;
        background-color: #69BBFF;
        border-radius: 8px;
        animation: scalein 0.5s ease-out var(--delay) both;
        @keyframes scalein {
          0% { width: 0; opacity: 0; }
          100% { width: var(--size); opacity: var(--opacity); }
        }
      }
    }
    .origin {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: grey;
      > div:first-child {
        flex: none;
        margin-right: 16px;
      }
    }
  }
}