.whole {
  padding: 64px 120px;
  position: relative;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 48px;
  box-shadow: 6px 6px 12px 0px transparentize($color: #000000, $amount: 0.98);
  & > div {
    width: 100%;
  }
  .avatar {
    width: 128px;
    height: 128px;
    position: absolute;
    top: -64px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .input {
    > * {
      margin: 32px 0px;
    }
  }
  .control {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 8px;
  }
}
