.whole {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  .message {
    margin-top: 8px;
  }
}
