.whole {
  display: grid;
  grid-template-rows: 5fr 4fr;
  gap: 32px;
  .code {
    display: grid;
    grid-template-columns: 172px auto;
    gap: 32px;
    .control {
      display: grid;
      grid-template-rows: 28px 44px auto 44px 44px;
      gap: 8px;
    }
  }
}

.commit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  > div {
    height: 400px;
  }
}
