.MyLoading-enter {
  opacity: 0;
}

.MyLoading-enter-active, .MyLoading-enter-done {
  opacity: 1;
  transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.MyLoading-exit {
  transform: translateX(0%);
  opacity: 1;
}

.MyLoading-exit-active {
  opacity: 0;
  transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
