.whole {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  .item {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #69BBFF11;
    border-radius: 8px;
    &:first-child {
      margin-top: 0;
    }
    &:hover {
      background-color: #69BBFF55;
    }
    &.selected {
      background-color: #69BBFFAA;
    }
  }
}
